<div class="container-fluid d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 py-2">
        <a class="txt-violet text-uppercase font-weight-bold" href="/">Le site du muséum</a>
      </div>
      <div class="col-lg-2 offset-3 text-align-center bg-blue-light pt-2 d-none d-lg-block d-xl-block">
        <a target="_blank" class="txt-white font-small" href="/blog">
          BLOG
        </a>
      </div>
      <div class="col-lg-2 py-2  text-align-center bg-violet">
        <a target="_blank" class="txt-white font-small" href="/newsletter">
          NEWSLETTER
        </a>
      </div>
      <div class="col-lg-2 py-2 px-0 text-align-right">
        <a target="_blank" class="mr-2" href="{{ bamboo_config_get('museum_config.config', 'facebook') }}">
          <img title="Facebook" src="/{{ directory }}/images/facebook.png">
        </a>
        <a target="_blank" class="mr-2" href="{{ bamboo_config_get('museum_config.config', 'instagram') }}">
          <img title="Instagram" src="/{{ directory }}/images/instagram.png">
        </a>
        <a target="_blank" class="mr-2" href="{{ bamboo_config_get('museum_config.config', 'twitter') }}">
          <img title="Twitter" src="/{{ directory }}/images/twitter.png">
        </a>
        <a target="_blank" class="mr-2" href="{{ bamboo_config_get('museum_config.config', 'vimeo') }}">
          <img title="Vimeo" src="/{{ directory }}/images/vimeo.png">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-3 d-none d-md-block" id="header-blog">
  <div class="container">
    <h1>
      <a href="/">
        <img height="50" title="Muséum d'histoire naturelle du Havre" src="/{{ directory }}/images/logo.png">
        <img height="48" title="Muséum d'histoire naturelle du Havre" src="/{{ directory }}/images/logo-2.png">
        <span class="d-none">Muséum d'histoire naturelle du Havre</span>
      </a>
    </h1>
  </div>
</div>

<div class="container-fluid d-lg-none d-md-none d-xl-none d-sm-block p-4" id="header-blog-mobile">
  <img height="50" title="Muséum d'histoire naturelle du Havre" src="/{{ directory }}/images/logo.png">
  <img height="48" title="Muséum d'histoire naturelle du Havre" src="/{{ directory }}/images/logo-2.png">
  <h1 class="txt-white text-center mt-3">Le blog du Muséum</h1>
</div>

{{ bamboo_render_block('search_block') }}
