{% if var.prof %}
  <div class="mt-6">
    <h2 class="font-weight-bold mb-4">Les professeurs</h2>
    {% for prof in var.prof %}
      {% set media = getMediaInfos(prof.visuel_id, 'carre_crop') %}
      <div class="row pb-3 mt-3 {% if not loop.last %}border-bottom {% endif %}">
        <div class="col-lg-2">
          <a href="{{ prof.url }}">
            <img class="w-100 rounded-circle" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}"
                 src="{{ media.url }}">
          </a>
        </div>
        <div class="col-lg-3">
          <div class="d-flex h-100 align-items-center">
            <h4 class="font-weight-bold"><a href="{{ prof.url }}">{{ prof.prenom.value }} {{ prof.title }}</a></h4>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="d-flex h-100 align-items-center">
            {{ prof.chapo|raw }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
