<div class="container">

  <h1 class="text-uppercase text-center my-4">
    <img class="mr-2" width="55" src="/{{ directory }}/images/numeritheque.png">Numérithèque</h1>

  <div class="row">
    <div class="col-lg-6 render_entity mb-2">
      {% set media = getMediaInfos(node.field_medias.target_id, 'full_max') %}
      {% if media.bundle == 'video' %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ media.url }}" allowfullscreen></iframe>
        </div>
      {% elseif media.bundle == 'podcast' or media.bundle == 'fichier' %}
        {{ bamboo_render_entity('media', node.field_medias.target_id) }}
      {% else %}
        <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}" src="{{ media.url }}">
      {% endif %}
    </div>

    <div class="col-lg-6">
      <div class="btn btn-outline-info actif txt-white">{{ node.field_numeritheque.entity.name.value }}</div>
      <h3 class="txt-blue font-weight-bold">{{ node.title.value }}</h3>
      <h5 class="txt-blue">{{ bamboo_render_field('field_sous_titre', 'node') }}</h5>
      <div class="txt-blue">{{ bamboo_render_field('field_infos_pratiques', 'node') }}</div>

      {% if media.bundle == 'fichier' %}
        <a class="btn btn-outline-info mt-3" target="_blank" href="{{ media.url }}">Télécharger - {{ media.type }} - {{ media.size }} Mo</a>
      {% endif %}

      <hr/>
      <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>
    </div>

    <div class="col-12 mt-5">
      {{ bamboo_render_field('field_description', 'node') }}
    </div>

  </div>
</div>

{% if node.field_medias_lies|length > 0 %}
<div class="container-fluid bg-blue p-4 mt-5">
  <div class="container">
    <h4 class="text-uppercase p-0 mb-4 txt-black">Ressources associées</h4>
    <div class="row justify-content-around">
      {% for object in node.field_medias_lies %}
        {% set node = bamboo_load_entity('node', object.target_id) %}
        {% set media = getMediaInfos(node.field_medias.target_id, 'carre_crop') %}
        {% set url = path('entity.node.canonical', {'node': node.id}) %}

        <div class="col-lg-3 gray-hover">
          <a class="txt-white" href="{{ url }}">
            {% if media.bundle == 'video' or media.bundle == 'podcast' or media.bundle == 'fichier' %}
              <img class="w-100" title="{{ media.name }}" src="{{ media.thumb }}">
            {% else %}
              <img class="w-100" title="{{ media.name }}" src="{{ media.url }}">
            {% endif %}
            <div class="clearfix bg-blue-light">
              <div class="text-align-left align-left py-1 pl-3 text-uppercase font-small">
                {{ node.field_numeritheque.entity.name.value }}
              </div>
              <div class="text-align-right align-right">
                <img width="30" src="/{{ directory }}/images/savoir.png">
              </div>
            </div>
            <h6 class="text-uppercase txt-black mt-2">{{ node.title.value }}</h6>
          </a>
        </div>
      {% endfor %}
      <div class="text-center w-100 mt-4">
        <a href="/numeritheque">
          <img width="300" src="/{{ directory }}/images/all_num.png">
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
