{% if var.page or var.main_page %}
  <div class="container mb-5">
    <div class="row">

      <div class="col-sm-6 col-lg-3 mb-1">
        {% set media = getMediaInfos(var.main_page.media_id, 'carre_crop') %}

        {% if var.current_id == var.main_page_id %}
          {% set class_link = 'txt-blue' %}
          {% set div_color = '<div class="div_color"></div>' %}
        {% else %}
          {% set class_link = 'txt-black' %}
          {% set div_color = '' %}
        {% endif %}

        <a class="" href=" {{ var.main_page.url }} ">
          <div style="position: relative">
            <img class="w-100" title="{{ media.name }}" alt="{{ media.name }}" src="{{ media.url }}">
            {{ div_color|raw }}
          </div>
          <div class="row mx-0 align-items-center">
            <div class="col text-align-center">
              <h5 class="{{ class_link }} font-weight-bold">{{ var.main_page.title }}</h5>
            </div>
          </div>
        </a>
      </div>

      {% for node in var.page %}
        {% set media = getMediaInfos(node.media_id, 'carre_crop') %}

        {% if var.current_id == node.current_page_liee_id %}
          {% set class_link = 'txt-blue' %}
          {% set div_color = '<div class="div_color"></div>' %}
        {% else %}
          {% set class_link = 'txt-black' %}
          {% set div_color = '' %}
        {% endif %}

        <div class="col-sm-6 col-lg-3 mb-1">
          <a class="" href=" {{ node.url }} ">
            <div style="position: relative">
              <img class="w-100" title="{{ media.name }}" alt="{{ media.name }}" src="{{ media.url }}">
              {{ div_color|raw }}
            </div>
            <div class="row mx-0 align-items-center">
              <div class="col text-align-center">
                <h5 class="{{ class_link }} font-weight-bold">{{ node.title }}</h5>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
