<div class="container">
  {{ bamboo_render_block('system_breadcrumb_block') }}
  <h1>Les actualités</h1>
</div>

<div class="container">
  <div class="row">
    {% for actu in var.actus %}
      {% set media = getMediaInfos(actu.visuel_id, 'paysage_crop') %}
      <div class="col-lg-6 mb-5">
        <a class="" href="{{ actu.url }}">
              <img class="w-100" title="{{ media.name }}" src="{{ media.url }}">
              <h2 class="gotham text-uppercase mt-4">{{ actu.title }}</h2>
              <div class="text-uppercase small">Publié le {{ actu.date.value|date('U')|format_date('date_jfy') }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
