{% set expo = bamboo_load_entity('node', node.field_expo_liee.0.target_id) %}

<div class="container">
  <h2>{{ expo.title.value }}</h2>
  <p class="mb-5">
    Du {{ expo.field_date_debut.value|date('U')|format_date('date_courte_fr') }}
    au {{ expo.field_date_fin.value|date('U')|format_date('date_courte_fr') }}
  </p>

  <div>{{ bamboo_render_block('menu_expo_block') }}</div>

  <div class="my-3">
    {% set media = getMediaInfos(node.field_medias.target_id, 'large') %}
    <img class="" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
  </div>

  <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>

  {% for paragraph in node.field_bloc_txt %}
    {% set paragraph_entity = bamboo_load_entity('paragraph', paragraph.target_id) %}
    {% set etat = paragraph_entity.field_etat_bloc.value %}
    {% set title = paragraph_entity.field_titre.value %}
    {% set corps = paragraph_entity.field_corps_texte.value %}
    <div class="clearfix">
      <h2 class="{{ etat }} txt-blue border-bt-bleu mt-5 mb-3">
        {% if etat == 'bloc_open' or etat == 'bloc_close' %}
          <img width="40" src="/{{ directory }}/images/arrow_bloc.png">
        {% endif %}
        {{ title }}
      </h2>
      <div class="description">{{ bamboo_render_field('field_corps_texte', 'paragraph', paragraph.target_id) }}</div>
    </div>
  {% endfor %}

  {% if node.field_liens|length > 0 or node.field_fichiers|length > 0 %}
    <div class="my-3 alert-dark p-3">
      <h4 class="text-uppercase">En savoir +</h4>
      <div class="">
        {{ bamboo_render_field('field_liens', 'node') }}
        {{ bamboo_render_field('field_fichiers', 'node') }}
      </div>
    </div>
  {% endif %}

</div>
