<div class="container">
  {{ bamboo_render_block('system_breadcrumb_block') }}
  <h1 class="text-uppercase text-center my-4">Ateliers pédagogiques</h1>

  <div class="chapo mb-5">
    {{ bamboo_config_get('site_config.config', 'atelier')['value']|raw }}
  </div>

  <div class="text-align-center py-4">
    {% for tid, term in var.term %}
      <button class="object-filter btn btn-outline-info mb-2" data-tid="{{ tid }}">{{ term }}</button>
    {% endfor %}
    <button class="object-filter-all btn btn-outline-info mb-2" >Tout</button>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    {% for object in var.ateliers %}
      {% set media = getMediaInfos(object.visuel_id, 'paysage_crop') %}
      <div class="col-lg-3 mb-4 flex-column grid-object {% for tid in object.tid %}{{ tid.target_id }} {% endfor %}">
        <div class="h-100 bg-black infos-object-border zoom-img">
          <a href="{{ object.url }}">
              <img class="w-100" title="{{ media.name }}" src="{{ media.url }}">
          </a>
          <div class="py-4 px-3">
          <a href="{{ object.url }}">
            <h2 class="bebas txt-white text-uppercase">{{ object.title }}</h2>
            <p class="txt-white mb-4">{{ object.sub_title }}</p>
          </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
