{% set alert_1 = bamboo_config_get('site_config.config', 'alert_1_txt') %}
{% set alert_2 = bamboo_config_get('site_config.config', 'alert_2_txt') %}

{% if bamboo_config_get('site_config.config', 'banniere') != '' %}
  {% set banniere = bamboo_config_get('site_config.config', 'banniere') %}
  {% set node_banniere = bamboo_load_entity('node', banniere) %}

  {% if node_banniere.type.entity.label == 'Agenda' %}
    {% set content_type = node_banniere.type.entity.label %}
  {% elseif node_banniere.type.entity.label == 'Actualité' %}
    {% set content_type = node_banniere.type.entity.label %}
  {% elseif node_banniere.type.entity.label == 'Page de base' %}
    {% set content_type = 'Pratique' %}
  {% endif %}
{% endif %}

<div class="container-fluid p-0 ">
  {% set media = getMediaInfos(936, 'pano_crop') %}
  {% if bamboo_config_get('site_config.config', 'banniere') != '' %}
    <a href="{{ path('entity.node.canonical', {'node': banniere}) }}">
      <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">

      <div class="banniere_home">
        <div class="tag text-uppercase mb-2">{{ content_type }}</div>
        <h4 class="txt-white text-uppercase gotham" style="text-shadow: 1px 1px 2px black;">{{ node_banniere.title.value }}</h4>
      </div>
    </a>
    {% else %}
  <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
  {% endif %}
</div>

<div class="container-fluid bg-red">
  <div class="container">
    <div class="row">
      <div id="alerts" class="carousel slide carousel-fade col-10 offset-1 text-align-center" data-ride="carousel">
        <div class="carousel-inner">
          {% if alert_1 %}
            <div class="carousel-item active txt-white py-2">
              <a class="txt-white ml-2" href="{{ bamboo_config_get('site_config.config', 'alert_1_url') }}">
                {{ alert_1 }}
              </a>
            </div>
          {% endif %}
          {% if alert_2 %}
            <div class="carousel-item txt-white py-2">
              <a class="txt-white ml-2" href="{{ bamboo_config_get('site_config.config', 'alert_2_url') }}">
                {{ alert_2 }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if var.en_avant|length > 0 %}
  <div class="container mt-6">
    <h1 class="mt-6">Programmation</h1>
    <div class="row">
      {% for event in var.en_avant %}
        {% set media = getMediaInfos(event.visuel_id, 'paysage_crop') %}
        <div class="col-lg-6 mb-5 px-2">
          <a href="{{ event.url }}">
            <div class="position-relative">
              <img class="w-100" alt="{{ media.alt }}" title="{{ media.title }}" src="{{ media.url }}">
            </div>
            <div class="event_tag">
              <div class="tag text-uppercase">{{ event.tid.entity.name.value }}</div>
            </div>
            <div class="event_tag_2">
              {% if event.tid_event.entity.name.value %}
                <div
                  class="tag tag-{{ event.tid_event.entity.name.value }}">{{ event.tid_event.entity.name.value }}</div>
              {% endif %}
            </div>
            <div class="infos-object">
              <div class="event_infos w-100">
                <div class="row line-h">
                  <div class="col-8">
                    <h3 class="gotham txt-white ml-4 text-uppercase">{{ event.title }}</h3>
                    <p class="txt-white ml-4">{{ event.lieu.value }}</p>
                  </div>
                  <div class="col-3">
                    <div class="row txt-white">
                      <div class="col-4">
                        <span
                          class="font-big font-weight-bold">{{ event.date_debut.value|date('U')|date("d") }}</span><br/>
                        {{ event.date_debut.value|date('U')|format_date('mois_court') }}<br/>
                        {{ event.date_debut.value|date('U')|date("Y") }}
                      </div>
                      {% if(event.date_fin.value and event.date_debut.value != event.date_fin.value) %}
                        <div class="col-1 font-big">></div>
                        <div class="col-4">
                        <span
                          class="font-big font-weight-bold">{{ event.date_fin.value|date('U')|date("d") }}</span><br/>
                          {{ event.date_fin.value|date('U')|format_date('mois_court') }}<br/>
                          {{ event.date_fin.value|date('U')|date("Y") }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if var.agenda|length > 0 %}
  <div class="container">
    <div class="row">
      {% for agenda in var.agenda %}
        {% set media = getMediaInfos(agenda.visuel_id, 'paysage_crop') %}
        <div class="col-lg-4 mb-4 px-2">
          <a href="{{ agenda.url }}">
            <div class="position-relative">
              <img class="w-100" alt="{{ media.alt }}" title="{{ media.title }}" src="{{ media.url }}">
            </div>
            <div class="event_tag">
              <div class="tag text-uppercase">{{ agenda.tid.entity.name.value }}</div>
            </div>
            <div class="event_tag_2">
              {% if agenda.tid_event.entity.name.value %}
                <div class="tag tag-{{ agenda.tid_event.entity.name.value }}">
                  {{ agenda.tid_event.entity.name.value }}
                </div>
              {% endif %}
            </div>
            <div class="infos-object">
              <div class="event_infos w-100">
                <div class="row">
                  <div class="col-8 px-1">
                    <h5 class="gotham txt-white ml-4 text-uppercase">{{ agenda.title }}</h5>
                    <p class="txt-white ml-4">{{ agenda.lieu.value }}</p>
                  </div>
                  <div class="col-3 px-2">
                    <div class="row txt-white">
                      <div class="col-5 px-1 line-h">
                        <span
                          class="font-big font-weight-bold">{{ agenda.date_debut.value|date('U')|date("d") }}</span><br/>
                        {{ agenda.date_debut.value|date('U')|format_date('mois_court') }}<br/>
                        {{ agenda.date_debut.value|date('U')|date("Y") }}
                      </div>
                      {% if(agenda.date_fin.value and agenda.date_debut.value != agenda.date_fin.value) %}
                        <div class="col-2 px-0 font-big line-h">></div>
                        <div class="col-5 px-1 line-h">
                        <span
                          class="font-big font-weight-bold">{{ agenda.date_fin.value|date('U')|date("d") }}</span><br/>
                          {{ agenda.date_fin.value|date('U')|format_date('mois_court') }}<br/>
                          {{ agenda.date_fin.value|date('U')|date("Y") }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="font-big mb-4">
      <a href="/agenda" class="btn btn-grey">
        <span class="text-uppercase gotham">Toute la programmation <i class="fas fa-arrow-right txt-grey"></i></span>
      </a>
    </div>
  </div>
{% endif %}

{% if var.actus|length > 0 %}
  <div class="container-fluid bg-grey py-4 mb-5">
    <div class="container mb-4 txt-white">
      <h1 class="mb-3">Actualités</h1>
      <div class="row">
        {% for actu in var.actus %}
          {% set media = getMediaInfos(actu.visuel_id, 'paysage_crop') %}
          <div class="col-lg-6">
            <div class="row align-items-center zoom-img">
              <div class="col-lg-6">
                <a href="{{ actu.url }}">
                  <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}"
                       src="{{ media.url }}">
                </a>
              </div>
              <div class="col-lg-6">
                <a href="{{ actu.url }}">
                  <h3 class="gotham txt-white text-uppercase">{{ actu.title }}</h3>
                  <div class="text-uppercase small">Publié
                    le {{ actu.date.value|date('U')|format_date('date_jfy') }}</div>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {# <div class="font-big my-4 col-lg-12"> #}
      {# <a href="/actualites"> #}
      {# <span class="text-uppercase bebas hover-red">Toute l'actualité</span> #}
      {# </a> #}
      {# </div> #}
    </div>
  </div>
{% endif %}

<div class="container mb-5">
  <h1 class="mb-3">Partenaires</h1>
  <div class="row justify-content-between align-items-center">
    <div class="col-2">
      <a href="http://www.odianormandie.com" target="_blank">
        <img class="part w-100" src="/{{ directory }}/images/odia.png" alt="Odia Normandie" title="Odia Normandie">
      </a>
    </div>
    <div class="col-2">
      <a href="https://reseau-renar.fr" target="_blank">
        <img class="part w-100" src="/{{ directory }}/images/renar.jpg" alt="Réseau Renar" title="Réseau Renar">
      </a>
    </div>
    <div class="col-2">
      <a href="https://www.normandie.fr" target="_blank">
        <img class="part w-100" src="/{{ directory }}/images/normandie.svg" alt="Région Normandie"
             title="Région Normandie">
      </a>
    </div>
    <div class="col-2">
      <a href="https://www.calvados.fr" target="_blank">
        <img class="part w-100" src="/{{ directory }}/images/calvados.png" alt="Calvados" title="Calvados">
      </a>
    </div>
    <div class="col-2">
      <a href="https://www.culture.gouv.fr/Regions" target="_blank">
        <img class="part w-100" src="/{{ directory }}/images/region.png" alt="DRAC" title="DRAC">
      </a>
    </div>
  </div>
</div>
