<div class="container-fluid p-0 banner">
  {% if node.field_medias.target_id != '' %}
    {% set media = getMediaInfos(node.field_medias.target_id, 'pano_crop') %}
    <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
  {% endif %}
</div>

<div class="container bg-white sub-banner pt-3">
  {{ bamboo_render_block('system_breadcrumb_block') }}
  <h1 class="mb-4 txt-red">{{ node.title.value }}</h1>

  <div class="text-uppercase small mb-5 mt-3 border-top w-25 pt-4">Publié
    le {{ node.created.value|date('U')|format_date('date_jfy') }}</div>

  <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>

  <div class="mt-5">{{ bamboo_render_field('field_description', 'node') }}</div>

  {% if node.field_videos.target_id is not empty %}
    <div class="mt-6 text-align-center">
      {% for video in node.field_videos %}
        <div class="mb-5 txt-grey pb-4">
          {{ bamboo_render_entity('media', video.target_id) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# Galerie #}
  {% if node.field_medias|length > 1 %}
    <div class="row mt-6 mb-5">
      {% for image in node.field_medias %}
        {% if loop.index != 1 %}
          {% set media = getMediaInfos(image.target_id, 'paysage_crop') %}
          <div class="col-lg-4 p-0 m-0">
            <a href="{{ media.url_full }}" data-fancybox="gallery" data-caption="{{ media.name }} - {{ media.copy }}">
              <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}"
                   src="{{ media.url }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if node.field_liens|length > 0 or node.field_fichiers|length > 0 %}
    <div class="my-3 bg-black txt-white pt-3 pb-4 px-4">
      <h1 class="mx-3 gotham text-uppercase">En savoir plus</h1>
      <div>
        {{ bamboo_render_field('field_liens', 'node') }}
        {{ bamboo_render_field('field_fichiers', 'node') }}
      </div>
    </div>
  {% endif %}

</div>
