<div class="container">

  <h2 class="">{{ node.title.value }}</h2>

  <h4 class="">{{ node.field_sous_titre.value }}</h4>

  <div>{{ bamboo_render_block('menu_page_block') }}</div>

  <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>

  <div class="">
    {% if node.field_medias.target_id != '' %}
      {% set media = getMediaInfos(node.field_medias.target_id, '500_recadrer') %}
      <img class="" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
    {% endif %}
  </div>

  {% for paragraph in node.field_bloc_txt %}
    {% set paragraph_entity = bamboo_load_entity('paragraph', paragraph.target_id) %}
    {% set etat = paragraph_entity.field_etat_bloc.value %}
    {% set title = paragraph_entity.field_titre.value %}
    {% set corps = paragraph_entity.field_corps_texte.value %}
    <div class="clearfix">
      <h2 class="{{ etat }} txt-blue border-bt-bleu mt-5 mb-3">
        {% if etat == 'bloc_open' or etat == 'bloc_close' %}
          <img width="40" src="/{{ directory }}/images/arrow_bloc.png">
        {% endif %}
        {{ title }}
      </h2>
      <div class="description">{{ bamboo_render_field('field_corps_texte', 'paragraph', paragraph.target_id) }}</div>
    </div>
  {% endfor %}

  <div class="row">
    {% for image in node.field_medias %}
      {% if loop.index != 1 %}
        {% set media = getMediaInfos(image.target_id, '500_recadrer') %}
        <div class="col-sm-3 my-3">
          <a href="{{ media.url_full }}" data-fancybox="gallery" data-caption="{{ media.name }} - {{ media.copy }}">
            <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}" width="95%"
                 src="{{ media.url }}">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if node.field_liens|length > 0 or node.field_fichiers|length > 0 %}
    <div class="my-3 alert-dark p-3">
      <h4 class="text-uppercase">En savoir +</h4>
      <div class="">
        {{ bamboo_render_field('field_liens', 'node') }}
        {{ bamboo_render_field('field_fichiers', 'node') }}
      </div>
    </div>
  {% endif %}

</div>
