<div class="container">
  <div class="mb-4 tag tag-{{ node.field_discipline.target_id }}">{{ node.field_discipline.entity.name.value }}</div>
  <h1 class="">{{ node.title.value }}</h1>
  <div class="row">
    <div class="col-lg-5">
      <div>
        {% set media = getMediaInfos(node.field_medias.target_id, 'large') %}
        <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
      </div>
    </div>

    <div class="col-lg-7">
      <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>
    </div>
  </div>

  {{ bamboo_render_block('profs_block') }}

  <div class="mt-6">{{ bamboo_render_field('field_description', 'node') }}</div>

  <div class="row mt-6">
    {% for image in node.field_medias %}
      {% if loop.index != 1 %}
        {% set media = getMediaInfos(image.target_id, 'carre_crop') %}
        <div class="col-lg-4 my-3">
          <a href="{{ media.url_full }}" data-fancybox="gallery" data-caption="{{ media.name }} - {{ media.copy }}">
            <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}" src="{{ media.url }}">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container-fluid bg-grey-light py-5 px-0 mt-6">
  <div class="container">
    <div class="row px-3">
      {% for paragraph in node.field_saviez_vous %}
        {% set paragraph_entity = bamboo_load_entity('paragraph', paragraph.target_id) %}
        {% set title = paragraph_entity.field_titre.value %}
        {% set corps = paragraph_entity.field_corps_texte.value %}
        <div class="col-lg-4 {% if loop.first %}bg-black p-0 txt-white{% endif %}">
          <hr class="m-0"/>
          <h4 class="bebas mt-4 mb-2 px-5 text-uppercase">{{ title }}</h4>
          <div
            class="description px-5 pb-3{% if loop.first %} font-italic {% endif %}">{{ bamboo_render_field('field_corps_texte', 'paragraph', paragraph.target_id) }}</div>
          {% if loop.first %}
            <div class="cube"></div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container border-top mt-6">
  <div class="row">
    {% for paragraph in node.field_infos_pratiques_discipline %}
      {% set paragraph_entity = bamboo_load_entity('paragraph', paragraph.target_id) %}
      {% set title = paragraph_entity.field_infos_pratiques_discipline.entity.name.value %}
      {% set tid = paragraph_entity.field_infos_pratiques_discipline.target_id %}
      {% set corps = paragraph_entity.field_corps_texte.value %}
      <div class="col-lg-6">
        <div class="row mt-5">
          <div class="col-1">
            <img src="/{{ directory }}/images/pratique_{{ tid }}.svg" class="">
          </div>
          <div class="col-11">
            <h3 class="text-uppercase bebas">
              <span class="partial-border">{{ title }}</span>
            </h3>
          </div>
          <div class="col-11 offset-1">
            <div
              class="description">{{ bamboo_render_field('field_corps_texte', 'paragraph', paragraph.target_id) }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="border-top mt-6 pt-4">
    {% for audio in node.field_audio %}
      <div class="mb-5">
        {{ bamboo_render_entity('media', audio.target_id) }}
      </div>
    {% endfor %}
  </div>

  <div class="mt-6 text-align-center">
    {% for video in node.field_videos %}
      <div class="mb-5 video txt-grey pb-4">
        {{ bamboo_render_entity('media', video.target_id) }}
      </div>
    {% endfor %}
  </div>

  {{ bamboo_render_block('discipline_block') }}

</div>

{% if node.field_disciplines_asso.target_id or node.field_pratiques_collectives_asso.target_id %}
  {% if node.field_disciplines_asso.target_id %}
    <div class="container-fluid bg-black mt-6 py-5 mb-5">
    <div class="container">
      <div class="h1 bebas text-uppercase txt-white">Disciplines associées</div>
      <div class="row">
        {% for discipline in node.field_disciplines_asso %}
          {% set discipline_entity = bamboo_load_entity('node', discipline.target_id) %}
          {% set media = getMediaInfos(discipline_entity.field_medias.target_id, 'carre_crop') %}
          {% set url = path('entity.node.canonical', {'node': discipline_entity.id}) %}
          <div class="col-lg-2">
            <a href="{{ url }}">
              <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}"
                   src="{{ media.url }}">
              <div class="w-100 border-tag tag-{{ discipline_entity.field_discipline.target_id }}"></div>
              <div class="txt-white h5 bebas">{{ discipline_entity.title.value }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if node.field_pratiques_collectives_asso.target_id %}
    <div class="container mt-5">
      <div class="h1 bebas text-uppercase txt-white">Pratiques collectives associées</div>
      <div class="row">
        {% for pratique in node.field_pratiques_collectives_asso %}
          {% set pratique_entity = bamboo_load_entity('node', pratique.target_id) %}
          {% set media = getMediaInfos(pratique_entity.field_medias.target_id, 'carre_crop') %}
          {% set url = path('entity.node.canonical', {'node': pratique_entity.id}) %}
          <div class="col-lg-2">
            <a href="{{ url }}">
              <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}"
                   src="{{ media.url }}">
              <div class="w-100 border-tag tag-{{ pratique_entity.field_discipline.target_id }}"></div>
              <div class="txt-white h5 bebas">{{ pratique_entity.title.value }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
{% endif %}
