<div class="container-fluid p-0 banner">
  {% if node.field_medias.target_id != '' %}
    {% set media = getMediaInfos(node.field_medias.target_id, 'pano_crop') %}
    <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
  {% endif %}
</div>
<div class="container bg-white sub-banner pt-3">
  {{ bamboo_render_block('system_breadcrumb_block') }}
  <h1 class="mb-4">{{ node.title.value }}</h1>

  <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>

  <div class="row mt-6 mb-5">
    {% for paragraph in node.field_page %}
      {% set paragraph_entity = bamboo_load_entity('paragraph', paragraph.target_id) %}
      {% set title = paragraph_entity.field_titre.value %}
      {% set lien = paragraph_entity.field_lien.get(0).getUrl().toString() %}
      {% set media = getMediaInfos(paragraph_entity.field_image.target_id, 'paysage_crop') %}

      <div class="col-lg-4 mb-4">
        <a href="{{ lien }}">
        <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
        <div class="infos-object">
          <div class="infos-content">
            <h2 class="bebas">{{ title }}</h2>
          </div>
        </div>
        </a>
      </div>


    {% endfor %}
  </div>

</div>

