<div class="container">
  <h1 class="text-uppercase my-4">{{ node.title.value }}</h1>

  <div class="row">

    <div class="col-lg-5">
      {% set media = getMediaInfos(node.field_medias.target_id, 'paysage_crop') %}
      <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}" src="{{ media.url }}">
    </div>

    <div class="col-lg-7">
      <h4 class="mb-3 text-uppercase font-weight-bold">{{ bamboo_render_field('field_sous_titre', 'node') }}</h4>

      <div class="mb-2">
        <div class="icon-atelier font-big">
          <i class="fas fa-hourglass-half txt-red"></i>
        </div>
        <div class="d-inline font-big">
          {{ node.field_duree.value }}
        </div>
      </div>

      <div class="mb-2">
        <div class="icon-atelier font-big">
          <i class="fas fa-map-marker-alt txt-red"></i>
        </div>
        <div class="d-inline font-big">
          {{ node.field_lieu.value }}
        </div>
      </div>

      <div class="mb-2">
        <div class="icon-atelier font-big">
          <i class="fas fa-users txt-red"></i>
        </div>
        <div class="d-inline font-big">
          {{ node.field_nb_personnes.value }}
        </div>
      </div>

      <div class="mb-2">
        <div class="icon-atelier font-big">
          <i class="fas fa-euro-sign txt-red"></i>
        </div>
        <div class="d-inline font-big">
          {{ node.field_tarif.value }}
        </div>
      </div>


      <div class="mb-2">
        <span class="txt-blue text-uppercase font-weight-bold">Public : </span>
        <span class="">
          {% for public in node.field_niveaux_scolaires %}
            {{ public.entity.name.value }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </span>
      </div>

      <div class="mb-2">
        {% for access in node.field_accessibilite %}
          <img
            class="mr-2"
            width="40"
            title="{{ access.entity.name.value }}"
            src="/{{ directory }}/images/access_{{ access.value.target_id }}.png">
        {% endfor %}
      </div>
    </div>

    <div class="col-12 mt-5">
      <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>
      {{ bamboo_render_field('field_description', 'node') }}
    </div>

  </div>

  <div class="row my-5 justify-content-between">
    {% if node.field_liens|length > 0 or node.field_fichiers|length > 0 %}
      <div class="col-lg-6 bg-black p-4">
          <h2 class="text-uppercase p-0 txt-white bebas">Ressources pédagogiques</h2>
          <div class="txt-white">
            {{ bamboo_render_field('field_liens', 'node') }}
            {{ bamboo_render_field('field_fichiers', 'node') }}
          </div>
      </div>
    {% endif %}

    <div class="col-lg-5 bg-red p-4 txt-white bloc_resa">
        <h2 class="text-uppercase p-0 bebas">{{ node.field_titre_reservation.value }}</h2>
          {{ bamboo_render_field('field_description_reservation', 'node') }}
    </div>
  </div>

</div>

{% if node.field_prog_assoc|length > 0 %}
  <div class="container-fluid bg-black py-5 my-5">
    <div class="container">
      <h2 class="bebas text-uppercase p-0 mb-4 txt-white">Ateliers associés</h2>
      <div class="row">
        {% for nodes in node.field_prog_assoc %}
          {% set node = bamboo_load_entity('node', nodes.target_id) %}
          {% set media = getMediaInfos(node.field_medias.target_id, 'paysage_crop') %}
          {% set url = path('entity.node.canonical', {'node': node.id}) %}

          <div class="col-lg-4 mb-4 flex-column">
            <div class="h-100 bg-black infos-object-border zoom-img">
              <a href="{{ url }}">
                <img class="w-100" title="{{ media.name }}" src="{{ media.url }}">
              </a>
              <div class="py-4 px-3">
                <a href="{{ url }}">
                  <h3 class="bebas txt-white text-uppercase">{{ node.title.value }}</h3>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="text-center mt-4 col-lg-12">
          <a href="/ateliers-pedagogiques" class="btn bg-red txt-white">Tous les ateliers pédagogiques</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
