<div class="container-fluid p-0 banner">
  {% if node.field_medias.target_id != '' %}
    {% set media = getMediaInfos(node.field_medias.target_id, 'pano_crop') %}
    <img class="w-100" title="{{ media.name }} - {{ media.title }}" alt="{{ media.alt }}" src="{{ media.url }}">
  {% endif %}
</div>
<div class="container bg-white sub-banner pt-3">
  {{ bamboo_render_block('system_breadcrumb_block') }}
  <h1 class="mb-4">{{ node.title.value }}</h1>

  <div class="chapo">{{ bamboo_render_field('field_chapo', 'node') }}</div>

  {% if node.field_liens|length > 0 or node.field_fichiers|length > 0 %}
    <div class="my-3 bg-black txt-white p-3">
      <h4 class="text-uppercase">En savoir +</h4>
      <div class="">
        {{ bamboo_render_field('field_liens', 'node') }}
        {{ bamboo_render_field('field_fichiers', 'node') }}
      </div>
    </div>
  {% endif %}

</div>
