<div class="container-fluid bg-black py-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-3 mb-4">
        <a href="{{ url('<front>') }}">
          <img src="/{{ directory }}/images/logo_footer.png" class="w-100">
        </a>
      </div>

      <div class="col-lg-9 mb-4">
      </div>

      <div class="col-lg-3">
        <div class="txt-grey-light">
          Théâtre Le Forum<br/>
          Boulevard de la Libération<br/>
          14700 Falaise<br/>
          <i class="fas fa-phone txt-grey-light mr-2"></i>02 31 90 89 60
        </div>
      </div>

      <div class="col-lg-4 txt-grey-light">
        {{ bamboo_config_get('site_config.config', 'horaires')['value']|raw }}
      </div>

      <div class="col-lg-3 txt-grey-light text-align-center">
        <a href="/contact" class="btn-black text-uppercase mb-3 bebas">Nous contacter</a>
      </div>

      <div class="col-lg-2 txt-grey-light text-align-center">
        <a href="{{ bamboo_config_get('site_config.config', 'facebook') }}" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        &nbsp;|&nbsp;
        <a href="{{ bamboo_config_get('site_config.config', 'instagram') }}" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-3">
        <a href="https://www.falaise.fr/" target="_blank">
          <img src="/{{ directory }}/images/falaise_footer.png" class="mr-3 w-75">
        </a>
      </div>

      <div class="col-lg-9 mt-4 text-center">
        {{ page.footer }}
      </div>

      <div class="col-lg-9 offset-3">
        <span class="font-small txt-grey-light">L-D-20-002383 Catégorie de license : 3 / L-D-20-002885 Catégorie de lmicense : 1</span>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="share_modal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bebas">Partagez</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-5">
        <div class="container-fluid">
          <div class="row text-center">
            <div class="col-3">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}">
                <i class="fab fa-facebook-f txt-red"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://twitter.com/home?status={{ url('<current>') }}">
                <i class="fab fa-twitter txt-red"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('<current>') }}">
                <i class="fab fa-linkedin txt-red"></i>
              </a>
            </div>
            <div class="col-3">
              <a href="https://pinterest.com/pin/create/button/?url={{ url('<current>') }}">
                <i class="fab fa-pinterest txt-red"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn bg-red" id="return-to-top">
  <i class="txt-white fas fa-chevron-up"></i>
</div>

{% if is_front %}

{% endif %}
