{#
/**
    Resultats de recherche
 */
#}

{% if view.id == 'recherche' %}

  {% set node = bamboo_load_entity('node', output.__toString()) %}
  {% set node_url = path('entity.node.canonical', {'node': output.__toString()}) %}
  {% set content_type = {
    'Agenda':'AGENDA',
    'Exposition':'EXPOSITION',
    'Page de base':'INFOS GÉNÉRALES',
    'Collection':'COLLECTION',
    'Quiz':'QUIZ',
    'Edition':'ÉDITION',
    'Média (numérithèque)':'NUMÉRITHÈQUE',
    'Objet de collection':'OBJET DE COLLECTION',
    'Atelier pédagogique':'ATELIER PÉDAGOGIQUE'
  } %}

  <div class="position-relative">
    <a href="{{ node_url }}">
      {% set media = getMediaInfos(node.field_medias.target_id, 'crop_paysage') %}
      <img class="w-100" title="{{ media.name }} - {{ media.copy }}" alt="{{ media.alt }}"
           src="{{ media.url }}">
      <div class="type-node position-absolute bg-white d-inline-block txt-blue py-1 px-3 text-uppercase">
        {{ content_type[node.type.entity.label] }}
      </div>
    </a>
  </div>

  <div class="my-1 ">
    <a class="txt-black" href="{{ node_url }}">
      <h5 class="mt-2 mb-0 txt-black">{{ node.title.value }}</h5>
    </a>
  </div>

{% endif %}
