{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="container p-0 bg-grey" id="main-menu">
      <div class="burger p-2 d-lg-none d-xl-none">
        <img src="/themes/custom/mah/images/burger.png">
      </div>

      <div class="row m-0 main-menu-content p-4">
        {% for item in items %}
          <div class="col-md-12 col-lg-2 p-0 item-menu text-align-center">
            <a data-menu="nav_lvl_{{ loop.index }}"
               data-menu-resp="nav_lvl_rest_{{ loop.index }}"
               class="px-1 py-2"
               href="{{ item.url }}">
              {{ item.title }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}
